html {
  height: 100%;
}

a{
  color: white;
  text-decoration: underline;
  margin-left: 10%;
}

body {
  text-align: center;
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: radial-gradient(circle, rgba(9,140,203,1) 0%, rgba(236,255,120,1) 100%);
  background: linear-gradient(90deg, rgba(9,140,203,1) 0%, rgba(236,255,120,1) 100%);
  background: linear-gradient(180deg, rgba(9,140,203,1) 0%, rgba(236,255,120,1) 100%);
}

h2{
  margin: 0 0 50px;
  padding: 0;
  color: white;
  text-align: center;
  font-size: 24pt;
}

.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  padding: 100px;
  background: rgba(0,0,0,.5);
  box-shadow: 0 15px 50px rgba(0,0,0,.6);
  box-sizing: border-box;
  border-radius: 10px;
}

.register{
  white-space: nowrap;
  position: relative;
  display: inline-flex;
  color: white;
  top: 30px;
  left: -15px;
  margin-top: 10%;
}

.user{
  position: relative;
}

.user input{
  width: 100%;
  padding: 10px 0;
  font-size: 24px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

input[type="file"]{
    cursor: pointer;
}

input[type=file]::file-selector-button{
  display: none;
}
.user label{
  position: absolute;
  top:-5%;
  left: 0;
  padding: 0 0;
  font-size: 16px;
  color: white;
  pointer-events: none;
  transition: .5s;
}


.user input:valid ~ label{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

input[type="submit"]{
      border-radius: 25px;
      border-color: transparent;
      background-color: transparent;
      list-style: none;
      text-decoration: none;
  		color: white;
  		font-family: sans-serif;
  		font-weight: bold;
      font-size: 30px;
      padding: 5px 6.53%;
  		margin: 0 12px;
  		position: relative;
  		cursor: pointer;
  		white-space: nowrap;
      transition: .2s;
      top: 30px;
}

input[type="submit"]:hover{
          background-color: #ecff78;
          color: black;
    			box-shadow: 0px 3px 20px 0px black;
          transform: scale(1.1);
}
